
nltk
flask 
pillow
opencv-python
flask-cors
docx2pdf
numpy
pandas
scikit-learn
matplotlib
wordcloud
urlextract
seaborn 
pypdf
pdf2docx
pdf2image
PyMuPDF
gunicorn
PyPDF2
deep_translator
gtts
easyocr
docx2txt
pyaspeller 
flask-cors