{% include "NewHeader.html" %} 

<br> <br>
<section class="mt-16 relative z-20">
    <div>
      <div>
        <div class="wow fadeInUp text-center relative mt-16 z-10">

            <span
                class="hero-subtitle-gradient relative mb-4 font-medium text-sm inline-flex items-center gap-2 py-2 px-4.5 rounded-full">
                <img src="static/media/icon-title.svg" alt="icon">
                <span class="hero-subtitle-text"> Unlimited Access, No Sign-Up Required</span>
            </span>
            <h2 class="text-white mb-4.5 text-2xl font-extrabold sm:text-4xl xl:text-heading-2">
                Discover Free Tools You'd Usually Pay For
            </h2>
           
        </div>
       

<div class="relative">
    <div
        class="features-row-border rotate-90 w-1/2 h-[1px] absolute top-1/2 left-1/2 -translate-y-1/2 lg:-translate-x-1/3 lg:left-1/4 hidden lg:block">
    </div>
    <div
        class="features-row-border rotate-90 w-1/2 h-[1px] absolute top-1/2 right-1/2 -translate-y-1/2 lg:right-[8.3%] hidden lg:block">
    </div>

    <div class="flex flex-wrap justify-center">

        <div class="w-full sm:w-1/2 lg:w-1/3" >
            <a href="/listen">
            <div
                class="group relative overflow-hidden text-center py-8 sm:py-10 xl:py-15 px-4 lg:px-8 xl:px-13">
                <span
                    class="group-hover:opacity-100 opacity-0 features-bg absolute w-full h-full left-0 top-0 -z-1"></span>
                <span
                    class="icon-border relative max-w-[80px] w-full h-20 rounded-full inline-flex items-center justify-center mb-8 mx-auto">
                    <img src="static/media/icon-01.svg" alt="icon" />
                </span>
                <h4 class="font-semibold text-lg text-white mb-4">
                    Listen Audio of PDF/Images
                </h4>
                <p class="font-medium">
                    Listen Audio of PDF & Images Documents in your desired Language
                </p>
            </div>
            </a>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3">
            <a href="/ai-chat-visualizer">
            <div
                class="group relative overflow-hidden text-center py-8 sm:py-10 xl:py-15 px-4 lg:px-8 xl:px-13">
                <span
                    class="group-hover:opacity-100 opacity-0 features-bg absolute w-full h-full left-0 top-0 -z-1"></span>
                <span
                    class="icon-border relative max-w-[80px] w-full h-20 rounded-full inline-flex items-center justify-center mb-8 mx-auto">
                    <img src="static/media/icon-02.svg" alt="icon" />
                </span>
                <h4 class="font-semibold text-lg text-white mb-4">
                    Chat Visualizer
                </h4>
                <p class="font-medium">
                    Get profound Insights about your Chat with our A.I powered Tool.
                </p>
            </div>
             </a>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3">
            <a href="/ai-resume-analyzer">
            <div
                class="group relative overflow-hidden text-center py-8 sm:py-10 xl:py-15 px-4 lg:px-8 xl:px-13">
                <span
                    class="group-hover:opacity-100 opacity-0 features-bg absolute w-full h-full left-0 top-0 -z-1"></span>
                <span
                    class="icon-border relative max-w-[80px] w-full h-20 rounded-full inline-flex items-center justify-center mb-8 mx-auto">
                    <img src="static/media/icon-03.svg" alt="icon" />
                </span>
                <h4 class="font-semibold text-lg text-white mb-4">
                    Resume Analyzer
                </h4>
                <p class="font-medium">
                    Get profound Insights about your Resume/CV with our A.I powered Tool.
                </p>
            </div>
             </a>
        </div>
    </div>
    

    <div class="flex flex-wrap justify-center">
       
        <div class="w-full sm:w-1/2 lg:w-1/3">
            <a href="/pdftoimg">
            <div
                class="group relative overflow-hidden text-center py-8 sm:py-10 xl:py-15 px-4 lg:px-8 xl:px-13">
                <span
                    class="group-hover:opacity-100 opacity-0 features-bg absolute w-full h-full left-0 top-0 -z-1 rotate-180"></span>
                <span
                    class="icon-border relative max-w-[80px] w-full h-20 rounded-full inline-flex items-center justify-center mb-8 mx-auto">
                    <img src="static/media/icon-05.svg" alt="icon" />
                </span>
                <h4 class="font-semibold text-lg text-white mb-4">
                    PDF to Image
                </h4>
                <p class="font-medium">
                    Convert your PDF into Images
                </p>
            </div>
            </a>
        </div>
        
        

        <div class="w-full sm:w-1/2 lg:w-1/3">
            <a href="/compressor">
            <div
                class="group relative overflow-hidden text-center py-8 sm:py-10 xl:py-15 px-4 lg:px-8 xl:px-13">
                <span
                    class="group-hover:opacity-100 opacity-0 features-bg absolute w-full h-full left-0 top-0 -z-1 rotate-180"></span>
                <span
                    class="icon-border relative max-w-[80px] w-full h-20 rounded-full inline-flex items-center justify-center mb-8 mx-auto">
                    <img src="static/media/icon-05.svg" alt="icon" />
                </span>
                <h4 class="font-semibold text-lg text-white mb-4">
                    Compress PDF
                </h4>
                <p class="font-medium">
                    Compress your PDF Documents
                </p>
            </div>
            </a>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3">
            <a href="/doctopdf">
            <div
                class="group relative overflow-hidden text-center py-8 sm:py-10 xl:py-15 px-4 lg:px-8 xl:px-13">
                <span
                    class="group-hover:opacity-100 opacity-0 features-bg absolute w-full h-full left-0 top-0 -z-1 rotate-180"></span>
                <span
                    class="icon-border relative max-w-[80px] w-full h-20 rounded-full inline-flex items-center justify-center mb-8 mx-auto">
                    <img src="static/media/icon-06.svg" alt="icon" />
                </span>
                <h4 class="font-semibold text-lg text-white mb-4">
                    Doc to PDF
                </h4>
                <p class="font-medium">
                    Convert Word Documents into PDF
                </p>
            </div>
            </a>
        </div>


        <div class="w-full sm:w-1/2 lg:w-1/3">
            <a href="/pdftodoc">
            <div
                class="group relative overflow-hidden text-center py-8 sm:py-10 xl:py-15 px-4 lg:px-8 xl:px-13">
                <span
                    class="group-hover:opacity-100 opacity-0 features-bg absolute w-full h-full left-0 top-0 -z-1 rotate-180"></span>
                <span
                    class="icon-border relative max-w-[80px] w-full h-20 rounded-full inline-flex items-center justify-center mb-8 mx-auto">
                    <img src="static/media/icon-06.svg" alt="icon" />
                </span>
                <h4 class="font-semibold text-lg text-white mb-4">
                    PDF to Doc
                </h4>
                <p class="font-medium">
                    Convert PDF Documents into Word Documents
                </p>
            </div>
            </a>
        </div>



        
        <div class="w-full sm:w-1/2 lg:w-1/3">
            <a href="/mergepdf">
            <div
                class="group relative overflow-hidden text-center py-8 sm:py-10 xl:py-15 px-4 lg:px-8 xl:px-13">
                <span
                    class="group-hover:opacity-100 opacity-0 features-bg absolute w-full h-full left-0 top-0 -z-1 rotate-180"></span>
                <span
                    class="icon-border relative max-w-[80px] w-full h-20 rounded-full inline-flex items-center justify-center mb-8 mx-auto">
                    <img src="static/media/icon-05.svg" alt="icon" />
                </span>
                <h4 class="font-semibold text-lg text-white mb-4">
                    Merge PDF
                </h4>
                <p class="font-medium">
                    Select & Merge Multiple PDF's
                </p>
            </div>
             </a>
        </div>



           
        <div class="w-full sm:w-1/2 lg:w-1/3">
            <a href="/imgtopdf">
            <div
                class="group relative overflow-hidden text-center py-8 sm:py-10 xl:py-15 px-4 lg:px-8 xl:px-13">
                <span
                    class="group-hover:opacity-100 opacity-0 features-bg absolute w-full h-full left-0 top-0 -z-1 rotate-180"></span>
                <span
                    class="icon-border relative max-w-[80px] w-full h-20 rounded-full inline-flex items-center justify-center mb-8 mx-auto">
                    <img src="static/media/icon-05.svg" alt="icon" />
                </span>
                <h4 class="font-semibold text-lg text-white mb-4">
                    Image to PDF
                </h4>
                <p class="font-medium">
                    Convert your Images into PDF
                </p>
            </div>
            </a>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3">
            <a href="/compressor">
            <div
                class="group relative overflow-hidden text-center py-8 sm:py-10 xl:py-15 px-4 lg:px-8 xl:px-13">
                <span
                    class="group-hover:opacity-100 opacity-0 features-bg absolute w-full h-full left-0 top-0 -z-1 rotate-180"></span>
                <span
                    class="icon-border relative max-w-[80px] w-full h-20 rounded-full inline-flex items-center justify-center mb-8 mx-auto">
                    <img src="static/media/icon-05.svg" alt="icon" />
                </span>
                <h4 class="font-semibold text-lg text-white mb-4">
                    Compress Images
                </h4>
                <p class="font-medium">
                    Compress your Images
                </p>
            </div>
             </a>
        </div>


        <div class="w-full sm:w-1/2 lg:w-1/3">
            <a href="/pngtojpg">
            <div
                class="group relative overflow-hidden text-center py-8 sm:py-10 xl:py-15 px-4 lg:px-8 xl:px-13">
                <span
                    class="group-hover:opacity-100 opacity-0 features-bg absolute w-full h-full left-0 top-0 -z-1 rotate-180"></span>
                <span
                    class="icon-border relative max-w-[80px] w-full h-20 rounded-full inline-flex items-center justify-center mb-8 mx-auto">
                    <img src="static/media/icon-05.svg" alt="icon" />
                </span>
                <h4 class="font-semibold text-lg text-white mb-4">
                    PNG to JPG
                </h4>
                <p class="font-medium">
                    Convert PNG Images to JPG
                </p>
            </div>
             </a>
        </div>


        <div class="w-full sm:w-1/2 lg:w-1/3">
            <a href="jpgtopng">
            <div
                class="group relative overflow-hidden text-center py-8 sm:py-10 xl:py-15 px-4 lg:px-8 xl:px-13">
                <span
                    class="group-hover:opacity-100 opacity-0 features-bg absolute w-full h-full left-0 top-0 -z-1 rotate-180"></span>
                <span
                    class="icon-border relative max-w-[80px] w-full h-20 rounded-full inline-flex items-center justify-center mb-8 mx-auto">
                    <img src="static/media/icon-05.svg" alt="icon" />
                </span>
                <h4 class="font-semibold text-lg text-white mb-4">
                    JPG to PNG
                </h4>
                <p class="font-medium">
                    Convert JPG Images to PNG
                </p>
            </div>
        </a>
        </div>

    </div>
</div>
</div>
</section>

{% include "footer.html" %}